/*Start Mid section*/
.back {
  background-image: url(../../images/BackGround.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
}

.mid-text {
  position: absolute;
  top: 8%;
  left: 8%;
  padding-bottom: 30px;
}

.mid-text h1 {
  color: #272727;
  font-size: 3.7rem;
  width: 40%;
}
.mid-text h1 span {
  color: #f86014;
}
.mid-text p {
  color: #272727;
  font-size: 1.3rem;
  width: 70%;
  margin-top: -1.3rem;
}

.mid-text .btn {
  margin-top: 3rem;
  cursor: pointer;
}

.big-btn {
  text-decoration: none;
  text-transform: capitalize;
  background-color: #f86014;
  color: #ffffff;
  padding: 0.7rem 1.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
}
/*End Mid section*/

/*start features section */
.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 10%;
  box-shadow: 0px 3px 5px #949494;
  margin-bottom: 1rem;
}

.details .feature {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.details .feature i {
  font-size: 2rem;
  padding-right: 0.7rem;
  color: #f86014;
}
.details .feature p {
  width: 80%;
  color: #272727;
  font-size: 1.3rem;
  font-weight: bold;
}
.details .feature p span {
  font-size: 1rem;
  font-weight: lighter;
}
/*End features section */
/*Start How To sextion*/
.how-to {
  background-color: #fffaf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 8rem;
}
.how-to .h2 {
  font-size: 2.2rem;
  color: #272727;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #f86014;
}
.how-to .Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.how-to .Menu .step {
  height: auto;
  box-sizing: border-box;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.how-to .Menu .step .icon i {
  font-size: 5rem;
  cursor: pointer;
  color: #f86014;
  padding-bottom: 10px;
}

.how-to .Menu .step .para p {
  font-size: 1.4rem;
  color: #4f4f4f;
  font-weight: bold;
}
/*End how to*/
/*---Media Query --*/

@media screen and (max-width: 958px) {
  
  /*Start How To sextion*/
  .how-to {
    align-items: center;
    padding: 4rem 6rem;
  }
  .how-to .h2 {
    font-size: 2rem;
  }

  .how-to .Menu .step {
    padding: 40px 50px;
  }

  .how-to .Menu .step .icon i {
    font-size: 4rem;
  }

  .how-to .Menu .step .para p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 886px) {
  .mid-text {
    position: absolute;
    top: 10%;
  }

  .mid-text h1 {
    color: #272727;
    font-size: 3.2rem;
    width: 40%;
  }

  .mid-text p {
    color: #272727;
    font-size: 1.1rem;
  }

  .big-btn {
    font-size: 1.3rem;
  }
  /*End Mid section*/
  .details {
    padding: 3rem 0 3rem 2rem;
  }
  .details .feature {
    width: 33%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
 
  .mid-text {
    top: 15%;
  }
  .mid-text h1 {
    color: #272727;
    font-size: 2.8rem;
    width: 40%;
  }

  .mid-text p {
    color: #272727;
    font-size: 1rem;
  }

  .big-btn {
    font-size: 1.2rem;
  }
  /*End Mid section*/

  /*start features section */

  .details .feature i {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }

  .details .feature p {
    font-size: 1rem;
    font-weight: bold;
  }
  .details .feature p span {
    font-size: 0.8rem;
  }
  /*End features section */

  /*Start How To sextion*/
  .how-to .h2 {
    font-size: 1.8rem;
  }

  .how-to .Menu .step {
    padding: 30px 40px;
  }

  .how-to .Menu .step .icon i {
    font-size: 3rem;
  }

  .how-to .Menu .step .para p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 558px) {
  .back {
    height: 35vh;
  }
  .mid-text {
    top: 7%;
  }
  .mid-text h1 {
    font-size: 2.2rem;
  }

  .mid-text p {
    font-size: 0.9rem;
  }

  .big-btn {
    font-size: 1rem;
  }
  /*End Mid section*/

  /*start features section */

  .details .feature i {
    font-size: 1.4rem;
  }

  .details .feature p {
    font-size: 0.7rem;
  }
  .details .feature p span {
    font-size: 0.6rem;
  }
  /*End features section */

  /*Start How To sextion*/
  .how-to .h2 {
    font-size: 1.8rem;
  }

  .how-to .Menu .step {
    padding: 30px 40px;
  }

  .how-to .Menu .step .icon i {
    font-size: 3rem;
  }

  .how-to .Menu .step .para p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 496px) {
  /*Start Mid section*/
  .back {
    height: 35vh;
  }

  .mid-text {
    top: 10%;
    padding-bottom: 30px;
  }

  .mid-text h1 {
    color: #272727;
    font-size: 1.6rem;
  }

  .mid-text p {
    font-size: 1rem;
    margin-top: 0rem;
  }

  .mid-text .btn {
    margin-top: 2rem;
  }

  .big-btn {
    padding: 0.2rem 1rem;
    font-size: 1.1rem;
  }
  /*End Mid section*/

  /*start features section */
  .details {
    display: none;
  }

  /*Start How To sextion*/
  .how-to {
    align-items: center;
    padding: 1.5rem 1rem;
  }
  .how-to .h2 {
    font-size: 1.4rem;
  }
  .how-to .Menu {
    flex-direction: column;
  }
  .how-to .Menu .step {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
  }

  .how-to .Menu .step .icon i {
    font-size: 2.7rem;
    cursor: pointer;
    margin-right: 10px;
  }

  .how-to .Menu .step .para p {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
