.courses {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.3rem;
}

.my-courses-list {
  width: 90%;
  margin: auto;
}

/*Start second section*/
.my-courses-header {
  background-color: #fbfaf8;
  padding: 1rem 2rem;
  color: var(--sec-color);
}

.my-courses-header h1 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.my-courses-header .en-created {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.my-courses-header .en-created p {
  margin-right: 1.8rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.my-courses-header .en-created p:hover {
  color: var(--main-color);
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-button {
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  height: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.pactive {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/*End second section */

/*Sort by */
.enrolled-courses {
  padding: 3rem;
  color: var(--sec-color);
}
.enrolled-courses .selection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.5rem;
}
.enrolled-courses .selection div {
  margin-right: 2rem;
}

.select-box h4 {
  margin-bottom: 1.5rem;
}
.color {
  padding: 0.5rem;
  background-color: #fcf8f8;
}

.select-box div .para {
  display: inline-block;
  margin-right: 0.8rem;
}
.select-box div i {
  color: var(--main-color);
  cursor: pointer;
}
.select-box div {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 0.5rem;
}

.enrolled-courses .selection .reset {
  margin-top: 4rem;
  font-weight: bold;
}

/*End sort by */

/* media query */

@media screen and (max-width: 735px) {
  /*Start second section*/
  .my-courses-header {
    padding: 0.8rem 1.8rem;
  }

  .my-courses-header h1 {
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }

  .my-courses-header .en-created p {
    margin-right: 1.6rem;
    font-size: 0.9rem;
  }
  /*End second section */

  /* Start sort by*/
  .enrolled-courses {
    padding: 1.5rem;
  }
  .enrolled-courses .selection {
    margin-bottom: 2rem;
  }
  .enrolled-courses .selection div {
    margin-right: 1rem;
  }

  .select-box h4 {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }
  .select-box div .para {
    font-size: 0.7rem;
  }
  .select-box div i {
    font-size: 0.8rem;
  }

  /*End sort by */
}

@media screen and (max-width: 553px) {
  /*Start second section*/
  .my-courses-header {
    padding: 0.5rem 1.3rem;
  }

  .my-courses-header h1 {
    margin-bottom: 2.7rem;
    font-size: 1.8rem;
  }

  .my-courses-header .en-created p {
    margin-right: 1rem;
    font-size: 0.7rem;
  }
  /*End second section */

  /* Start sort by*/
  .enrolled-courses {
    padding: 1rem;
  }
  .enrolled-courses .selection {
    margin-bottom: 2rem;
  }
  .enrolled-courses .selection div {
    margin-right: 1rem;
  }

  .select-box h4 {
    margin-bottom: 1.5rem;
  }

  .select-box div i {
    font-size: 0.8rem;
  }
  .enrolled-courses .selection .reset {
    font-size: 0.7rem;
  }

  /*End sort by */
}

@media screen and (max-width: 465px) {
  .my-courses-list {
    width: 70%;
    padding-top: 1rem;
    margin: auto;
  }
  /*Sort by */
  .enrolled-courses {
    padding: 1.5rem;
  }
  .enrolled-courses .selection {
    margin-bottom: 2.4rem;
  }
  .enrolled-courses .selection div {
    margin-right: 0.9rem;
  }

  .select-box h4 {
    margin-bottom: 1rem;
  }
  .color {
    padding: 0.2rem;
  }

  .select-box div .para {
    display: inline-block;
    margin-right: 0.8rem;
  }
  .select-box div i {
    color: var(--main-color);
    cursor: pointer;
  }
  .select-box div {
    padding-bottom: 0.4rem;
  }

  .enrolled-courses .selection .reset {
    margin-top: 3rem;
  }
  /*End sort by */

  .create-button {
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    height: 1.5rem;
  }
}
