/*Start second section*/
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: #fbfaf8;
  color: var(--sec-color);
}
.second-section .welcome {
  width: 49%;
  margin-top: -0.5rem;
}
.second-section .welcome h1 {
  font-size: 4rem;
}
.second-section .welcome h1 span {
  color: var(--main-color);
}
.second-section .welcome p {
  font-size: 1.8rem;
  font-weight: 600;
}
.second-section .presonal-info {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.second-section .presonal-info .container {
  padding: 0 0 10px 10px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0.4px 0.5px rgba(0, 0, 0, 0.056),
    0 0.9px 1.3px rgba(0, 0, 0, 0.081), 0 1.8px 2.4px rgba(0, 0, 0, 0.1),
    0 3.1px 4.2px rgba(0, 0, 0, 0.119), 0 5.8px 7.9px rgba(0, 0, 0, 0.144),
    0 14px 19px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding-left: 1rem;
}
.second-section .presonal-info .container h4 {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}
.second-section .presonal-info .container .grade {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem 1rem 1rem;
  font-size: 1.3rem;
  color: var(--sec-color);
}
.second-section .presonal-info .container .grade p {
  padding-bottom: 10px;
}
.second-section .presonal-info select {
  width: 20%;
  margin: 0 10px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid var(--main-color);
}

.second-section .presonal-info .container a {
  color: var(--main-color);
  font-size: 1.3rem;
  text-align: right;
}
/*End second section*/

/*Start Subjects section */
.subjects {
  padding: 1rem 2rem;
  width: 100%;
}
.subjects h1 {
  width: 100%;
  font-size: 3rem;
  color: var(--sec-color);
}

.subjects .courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/*End Subjects section */

/*media */
@media screen and (max-width: 1378px) {
  /*Start second section*/
  .second-section {
    padding: 2rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -4rem;
  }
  .second-section .welcome h1 {
    font-size: 2.6rem;
  }

  .second-section .welcome p {
    font-size: 1.5rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 8px 8px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.9rem;
    font-size: 1.3rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
  }

  .second-section .presonal-info select {
    border-bottom: 1.5px solid var(--main-color);
  }

  .second-section .presonal-info .container a {
    font-size: 1.1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects {
    padding: 0.8rem 2rem;
  }
  .subjects h1 {
    font-size: 2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 1042px) {
  /*Start second section*/
  .second-section {
    padding: 2rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -4rem;
  }
  .second-section .welcome h1 {
    font-size: 2.6rem;
  }

  .second-section .welcome p {
    font-size: 1.5rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 8px 8px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.9rem;
    font-size: 1.3rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
  }

  .second-section .presonal-info select {
    border-bottom: 1.5px solid var(--main-color);
  }

  .second-section .presonal-info .container a {
    font-size: 1.1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects h1 {
    font-size: 2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 991px) {
  /*Start Subjects section */
  .subjects h1 {
    font-size: 2.5rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 850px) {
  /*Start Subjects section */
  .subjects h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 626px) {
  /*Start second section*/
  .second-section {
    padding: 1.8rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -5rem;
  }
  .second-section .welcome h1 {
    font-size: 2rem;
  }

  .second-section .welcome p {
    font-size: 1.2rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 6px 6px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.6rem;
    font-size: 1.1rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .second-section .presonal-info .container a {
    font-size: 1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects h1 {
    font-size: 1.2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 496px) {
  /*Start second section*/
  .second-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }
  .second-section .welcome {
    width: 100%;
    margin-top: -1rem;
  }
  .second-section .welcome h1 {
    font-size: 2.5rem;
  }

  .second-section .welcome p {
    font-size: 1.6rem;
  }
  .second-section .presonal-info {
    width: 100%;
  }

  .second-section .presonal-info .container {
    padding-left: 0rem;
    padding: 1rem 0 0 1.5rem;
    margin-top: 3rem;
  }
  .second-section .presonal-info .container h4 {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: -1.5rem;
  }
  .second-section .presonal-info .container .grade {
    font-size: 1.1rem;
  }

  .second-section .presonal-info .container a {
    font-size: 1.2rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects {
    /*didn't change*/
    padding: 1rem 2rem;
    width: 100%;
  }
  .subjects h1 {
    font-size: 1.8rem;
  }

  .subjects .courses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /*End Subjects section */
}
/*Start second section*/
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: #fbfaf8;
  color: var(--sec-color);
}
.second-section .welcome {
  width: 49%;
  margin-top: -0.5rem;
}
.second-section .welcome h1 {
  font-size: 4rem;
}
.second-section .welcome h1 span {
  color: var(--main-color);
}
.second-section .welcome p {
  font-size: 1.8rem;
  font-weight: 600;
}
.second-section .presonal-info {
  width: 49%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.second-section .presonal-info .container {
  padding: 0 0 10px 10px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0.4px 0.5px rgba(0, 0, 0, 0.056),
    0 0.9px 1.3px rgba(0, 0, 0, 0.081), 0 1.8px 2.4px rgba(0, 0, 0, 0.1),
    0 3.1px 4.2px rgba(0, 0, 0, 0.119), 0 5.8px 7.9px rgba(0, 0, 0, 0.144),
    0 14px 19px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding-left: 1rem;
}
.second-section .presonal-info .container h4 {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}
.second-section .presonal-info .container .grade {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem 1rem 1rem;
  font-size: 1.3rem;
  color: var(--sec-color);
}
.second-section .presonal-info .container .grade p {
  padding-bottom: 10px;
}
.second-section .presonal-info select {
  width: 20%;
  margin: 0 10px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid var(--main-color);
}

.second-section .presonal-info .container a {
  color: var(--main-color);
  font-size: 1.3rem;
  text-align: right;
}
/*End second section*/

/*Start Subjects section */
.subjects {
  padding: 1rem 2rem;
  width: 100%;
}
.subjects h1 {
  width: 100%;
  font-size: 3rem;
  color: var(--sec-color);
}

.subjects .courses {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/*End Subjects section */

/*media */
@media screen and (max-width: 1378px) {
  /*Start second section*/
  .second-section {
    padding: 2rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -4rem;
  }
  .second-section .welcome h1 {
    font-size: 2.6rem;
  }

  .second-section .welcome p {
    font-size: 1.5rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 8px 8px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.9rem;
    font-size: 1.3rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
  }

  .second-section .presonal-info select {
    border-bottom: 1.5px solid var(--main-color);
  }

  .second-section .presonal-info .container a {
    font-size: 1.1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects {
    padding: 0.8rem 2rem;
  }
  .subjects h1 {
    font-size: 2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 1042px) {
  /*Start second section*/
  .second-section {
    padding: 2rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -4rem;
  }
  .second-section .welcome h1 {
    font-size: 2.6rem;
  }

  .second-section .welcome p {
    font-size: 1.5rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 8px 8px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.9rem;
    font-size: 1.3rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
  }

  .second-section .presonal-info select {
    border-bottom: 1.5px solid var(--main-color);
  }

  .second-section .presonal-info .container a {
    font-size: 1.1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects h1 {
    font-size: 2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 991px) {
  /*Start Subjects section */
  .subjects h1 {
    font-size: 2.5rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 850px) {
  /*Start Subjects section */
  .subjects h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 626px) {
  /*Start second section*/
  .second-section {
    padding: 1.8rem;
  }
  .second-section .welcome {
    width: 49%;
    margin-top: -5rem;
  }
  .second-section .welcome h1 {
    font-size: 2rem;
  }

  .second-section .welcome p {
    font-size: 1.2rem;
  }

  .second-section .presonal-info .container {
    padding: 0 0 6px 6px;
  }
  .second-section .presonal-info .container h4 {
    margin-top: 0.6rem;
    font-size: 1.1rem;
  }
  .second-section .presonal-info .container .grade {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .second-section .presonal-info .container a {
    font-size: 1rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects h1 {
    font-size: 1.2rem;
  }

  /*End Subjects section */
}

@media screen and (max-width: 496px) {
  /*Start second section*/
  .second-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }
  .second-section .welcome {
    width: 100%;
    margin-top: -1rem;
  }
  .second-section .welcome h1 {
    font-size: 2.5rem;
  }

  .second-section .welcome p {
    font-size: 1.6rem;
  }
  .second-section .presonal-info {
    width: 100%;
  }

  .second-section .presonal-info .container {
    padding-left: 0rem;
    padding: 1rem 0 0 1.5rem;
    margin-top: 3rem;
  }
  .second-section .presonal-info .container h4 {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: -1.5rem;
  }
  .second-section .presonal-info .container .grade {
    font-size: 1.1rem;
  }

  .second-section .presonal-info .container a {
    font-size: 1.2rem;
  }
  /*End second section*/

  /*Start Subjects section */
  .subjects {
    /*didn't change*/
    padding: 1rem 2rem;
    width: 100%;
  }
  .subjects h1 {
    font-size: 1.8rem;
  }

  .subjects .courses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /*End Subjects section */
}
