/* Start Footer */
.footer {
  border-top: 0.5px solid #7f8c8d;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-top: -3rem; */
  /* margin-bottom: -3rem; */
  position: absolute;
  bottom: 0;
}
.footer p {
  color: #7f8c8d;
}
.footer ul {
  color: #7f8c8d;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footer ul i {
  padding: 0px 2px;
}

@media screen and (max-width: 958px) {
  .footer {
    padding: 0.8rem 0.8rem;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 626px) {
  .footer {
    padding: 0.1rem 0.7rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 496px) {
  .footer {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    padding: 0.4rem 0.5rem;
  }
  .footer p {
    color: #7f8c8d;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 553px) {
  .footer {
    padding: 0.3rem 0.4rem;
  }
  .footer p {
    color: #7f8c8d;
    font-size: 0.6rem;
  }
  .footer .social li i {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 557px){
  /* Start Footer */
  .footer {
    padding: 0.3rem 0.4rem;
  }
  .footer p {
    color: #7f8c8d;
    font-size: 0.6rem;
  }
  .footer .social li i {
    font-size: 0.7rem;
  }
  /*End Footer*/
}

@media screen and (max-width: 1042px) {
  .footer {
    padding: 0.9rem 0.9rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
