:root {
  --main-color: #f86014;
  --sec-color: #272727;
  --ther-color: #6b6b6b;
  --fourth-color: #e48730;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
