/*Start Burger-menu*/
.burger-menu {
  background-color: #eee;
  position: fixed;
  top: 71px;
  right: 0px;
  min-height: 100vh;
  width: 200px;
  z-index: 100;
  transition: 0.6s;
}
.fa-bars {
  cursor: pointer;
}
.presonal-info-box {
  padding: 15px;
  text-align: center;
  margin: 10px;
}
.presonal-info-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.presonal-info-box h4 {
  margin: 0;
  color: #666;
}

.presonal-info-box .personal-data-settings {
  text-align: left;
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

.personal-data-settings li {
  width: 90%;
  height: 20px;
  cursor: pointer;
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid rgba(1, 0, 0, 0.2);
}
.personal-data-settings i {
  opacity: 0.8;
  font-size: 14px;
  color: var(--main-color);
}
.personal-data-settings li:last-child {
  border: 0;
}

.personal-data-settings li.active {
  border: 2px solid #fff;
  opacity: 1;
}
/*End Burger-menue*/

/* Start navbar */
.nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  box-shadow: 0px 3px 5px #949494;
}

.nav .logo {
  width: 10%;
}
.nav .logo img {
  width: 7rem;
}
.nav .search {
  width: 10%;
  position: relative;
  margin-right: 20rem;
}
.nav .search i {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  color: var(--sec-color);
}

.nav input {
  padding: 0.3rem 3rem;
  border-radius: 15px;
  border: 1px solid var(--ther-color);
}
.nav input:focus {
  outline: none;
}
.nav .buttons {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav .buttons #items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 64px;
  align-items: center;
}

.nav .buttons #items li {
  list-style: none;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.nav .buttons #items li a.nav-item {
  color: var(--sec-color);
}
.nav .buttons #items li .active {
  color: var(--main-color);
}

.nav .buttons .bar i {
  font-size: 1.5rem;
  color: var(--ther-color);
  margin-right: 0.7rem;
}
/*End NavBar */
/* Start navbar */

.nav .logo img {
  width: 6rem;
}
.nav .search {
  width: 10%;
  position: relative;
  margin-right: 10rem;
  cursor: pointer;
}

.nav .buttons #items {
  padding: 0px 44px;
}

.nav .buttons #items li {
  list-style: none;
  margin-left: 0.9rem;
  font-size: 1.2rem;
}
/*End NavBar */
/* Start navbar */
@media screen and (max-width: 1378px) {
  .nav .logo img {
    width: 6rem;
  }
  .nav .search {
    width: 10%;
    position: relative;
    margin-right: 10rem;
  }

  .nav .buttons #items {
    padding: 0px 44px;
  }

  .nav .buttons #items li {
    list-style: none;
    margin-left: 0.9rem;
    font-size: 1.2rem;
  }
  /* start burger box */
  .burger-menu {
    top: 66px;
  }
}
/*End NavBar */
@media screen and (max-width: 1042px) {
  /* Start navbar */
  .nav .search {
    margin-right: 0rem;
  }

  .nav .buttons #items li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  .nav .buttons .bar i {
    font-size: 1.4rem;
  }
  .nav .logo img {
    width: 5.5rem;
  }
  .burger-menu {
    top: 58px;
  }
}
/*End NavBar */
@media screen and (max-width: 991px) {
  /*one change on navbar */
  .nav .search {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 850px) {
  /*one change on navbar */

  .nav .search {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 626px) {
  /* Start navbar */
  .nav .logo img {
    width: 5rem;
    margin-left: 380%;
  }

  .nav .search input {
    margin-right: 0rem;
    display: none;
  }

  .nav .search i {
    font-size: 1.4rem;
    top: -0.7rem;
    left: -6rem;
    color: var(--ther-color);
  }

  .nav .buttons #items li {
    display: none;
  }
  .nav .buttons .bar i {
    font-size: 1.4rem;
    display: inline;
  }
}
@media screen and (max-width: 496px) {
  /* Start navbar */
  .nav .logo img {
    width: 5rem;
    margin-left: 351%;
  }

  .nav .search input {
    margin-right: 0rem;
    display: none;
  }

  .nav .search i {
    font-size: 1.5rem;
    top: -0.7rem;
    left: -4.5rem;
    color: var(--ther-color);
  }

  .nav .buttons #items li {
    display: none;
  }
  .nav .buttons .bar i {
    font-size: 1.5rem;
    display: inline;
  }
}

@media screen and (max-width: 735px) {
  /* Start navbar */

  .nav .logo img {
    width: 5rem;
  }
  .nav .search {
    margin-right: -4rem;
  }
  .nav input {
    padding: 0.2rem 2.2rem;
  }
  .nav .search i {
    font-size: 0.8rem;
    top: 0.5rem;
    left: 0.9rem;
  }

  .nav .buttons #items li {
    font-size: 0.9rem;
  }
  .nav .buttons .bar i {
    font-size: 1.3rem;
  }
  /* start burger box */
  .burger-menu {
    top: 53px;
  }
}
@media screen and (max-width: 553px) {
  /* Start navbar */
  .nav .logo img {
    width: 4.5rem;
  }
  .nav .search {
    margin-right: -3rem;
  }
  .nav input {
    padding: 0rem 0 0 1rem;
  }
  .nav input::placeholder {
    font-size: 0.8rem;
    text-align: center;
  }
  .nav .search i {
    font-size: 0.7rem;
    top: 0.3rem;
    left: 0.5rem;
  }

  .nav .buttons #items li {
    font-size: 0.8rem;
  }
  .nav .buttons .bar i {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 465px) {
  /* Start navbar */
  .nav .logo img {
    width: 5rem;
    margin-left: 351%;
  }

  .nav .search input {
    margin-right: 0rem;
    display: none;
  }

  .nav .search i {
    font-size: 1.5rem;
    top: -0.7rem;
    left: -4.5rem;
    color: var(--ther-color);
  }

  .nav .buttons #items li {
    display: none;
  }
  .nav .buttons .bar i {
    font-size: 1.5rem;
  }
  /* start burger box */
  .burger-menu {
    top: 53px;
  }
}
